@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800;900&display=swap');

:root{
  --font-title: 'Orbitron', sans-serif;
  --clr-white:#fff;
  --clr-black:#333;
  --clr-dark:rgb(15, 14, 80);
};

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: lightgray;
}
h1{
  align-items: center;
  color:white;

}
.conatiner{
display:flex;
justify-content: center;
 /* color:blue;
 display: flex;
 flex-direction: row;
 justify-content: center;
 border:1px solid red;
 align-items: center;
 margin-top: 20px;
 overflow: hidden;
 position:absolute; */
 border-radius: 3px solid red;

 

}
.row{ 
 height: 450px;
 width: 600px;
 background-color: var(--clr-black);
 color: var(--clr-white);
display: flex;
flex-direction: row;
justify-content: center;
text-align: center;
padding: 30px;
align-items: center;
border-radius: 20px;

position: relative;
top:50px;





}
h1{
  font-family: var(--font-title);
  font-size:3rem;
}

#home-btn, #guest-btn{
  width: 250px;
  height: 150px;
  background-color: var(--clr-white);
  color: var(--clr-dark);
  /* margin: 40px; */
  font-size: 6rem;
  font-family: var(--font-title);
  color: dodgerblue;
  font-weight: 800;
  border-radius: 10px;
  border:none;
  margin:5px 30px
  
}
.operate{
width: 255px;
/* height: 75px; */
margin: 23px;
/* padding: 20px; */
border:1px solid red

}
.operate button{
  width: 65px;
  height:75px;
  align-items: center;
  font-size:2rem;
  padding:10px;
}
.counter{
  display:flex;
  justify-content: center;
  background-color: #333;
  margin: 135px;
  padding: 10px 145px;
  /* position: absolute;
  bottom:20px;
  left:35%; */
  border-radius: 20px;
  color:var(--clr-white);
  border:3px solid pink;


}
#count-btn{
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
 
  padding:8px 30px;
  font-size:20px;
  margin:20px;
  border-radius: 6px;
  background-color: green;
  border:none;
  color: var(--clr-white);
 
}