@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&display=swap');

:root{
  --font-title: 'Codystar', cursive;
  --clr-white:#fff;
  --clr-black:#333;
  --clr-dark:#444;
};

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.conatiner{
  background:var(--clr-dark);
  width: 500px;
  height: 550px;
  color: var(--clr-white);
  display: flex;
  justify-content: center;
  align-items: center;
}