@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&display=swap');

:root{
  --font-title: 'Codystar', cursive;
  --clr-white:#fff;
  --clr-black:#333;
  --clr-dark:#444;
};

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.conatiner{
  background-color:var(--clr-dark);
  width: 500px;
  height: 550px;
  color: var(--clr-white);
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px;
  align-items: center;

}
#home-htn, #guest-btn{
  width: 90px;
  height: 90px;
  background-color: var(--clr-white);
  color: var(--clr-dark);
}
.operate{
width: 155px;
height: 55px;
margin: 3px;
padding-left: 10px;
border: 1px;
}